/* ------------------------- Container ------------------------- */
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(206, 247, 148, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(206, 247, 148, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

/* ------------------------- Choice Bar ------------------------- */
.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #1e7e34;
  color: white;
}

/* ------------------------- Choice Text Size ------------------------- */
.choice-text {
  padding: 1.5rem;
  width: 100%;
}

/* ------------------------- Color Selection ------------------------- */
.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* ------------------------- HUD ------------------------- */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #1e7e34;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color:#1e7e34;
  width: 0%;
}