@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Caveat&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Cantarell', sans-serif;
    color: #1e7e34;
}

.title-headings {
    text-align: center;
    text-decoration: underline;
    font-family: "Caveat", sans-serif;
}

.title-headings-2 {
    text-align: center;
    text-decoration: underline;
    font-family: "Caveat", sans-serif;
    width: 100%;
}

/* ------------------------- Navigation ------------------------- */
.navbar {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-brand img {
    height: 5rem;
}

.navbar-nav li {
    padding-right: 0.2rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-top: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1e7e34;
}

/* ------------------------- Landing Page ------------------------- */
.home-inner {
    background-image: url("../images/heroimage.jpg");
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 45%;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2rem;
    text-shadow: 5px 5px 5px black;
    padding-bottom: 1.5rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

/* ------------------------- Cigar Globe ------------------------- */
.globe-padding {
    padding: 5rem 0rem;
}

div#map {
    min-height: 360px;
}

.box-border {
    border: 2px solid black;
}

.globe-list {
    font-family: "Cantarell", sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

ol {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 195px;
    height: 205px;
    margin: 0 auto;
    padding: 25px;
}

ol #list-2 {
    padding: 25px;
}

ol #list-3 {
    padding: 25px;
}

/* ------------------------- Cigar Journey ------------------------- */
.accordion {
  background-color: #fff;
  color: #1e7e34;
  border: 1px solid #1e7e34;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  outline: none;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #bbda7b;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.journey-img {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    float: left;
}

/* ------------------------- Cigar Talk Section ------------------------- */
.CharacterContainer {
            text-align: center;
            font-size: 1.4em;
            line-height: 3em;
            background-color: #1e7e34;
            color: white;
            cursor: pointer;
        }
        
        .CharacterElement {
            margin-right: 10px;
        }
        
        .Inactive {
            color: grey;
            cursor: default;
        }
        
        .AppElement {
            font-size: 2em;
            border: 1px solid #000;
            text-align: center;
            line-height: 14em;
            background-color: #ffffdd;
        }

/* ------------------------- Contact Section ------------------------- */
.contact-form {
      margin-top: 100px;
      color: #fff;
      background-color: rgb(52, 58, 64);
      max-width: 400px;
      position: relative;
      left: 10%;
      padding: 30px 30px 30px 30px;
  }

  .form-image {
      background-image: url("../images/contact-image.jpg");
      clear: left;
      background-size: cover;
      background-position: center;
      height: 700px;
  }
    
  .text-input {
    background: white;
    color: #1e7e34;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: solid 1px #1e7e34;
    border-radius: 2px;
  }
  
  .text-input:hover {
    border-color: #bbda7b;
  }

  .submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fff;
    color: #1e7e34;
    display: block;
  }
  
  .submit-button:hover {
    background-color: #1e7e34;
    color:  #bbda7b;
  }  
  
/* ------------------------- Extra Bootstrap Column Padding ------------------------- */
[class*="col-"] {
  padding: 1rem;
}

/* ------------------------- Bootstrap Mobile Gutter Fix ------------------------- */
.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}

/* ------------------------- Fix for Fixed Navbar jumping on scroll ------------------------- */
.fixed-top  {
 -webkit-backface-visibility: hidden;
}

/* ------------------------- Fixed Landing Page Section ------------------------- */
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

/* ------------------------- iOS Fixed Background Image ------------------------- */
.fixed-background {
  position: relative;
  width: 100%;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}